@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }

    .display-4 {
        font-size: 48px;
        color: #333;
        font-family: Arial, sans-serif;
    }

    .button-container {
        margin-top: 20px;
    }

        .button-container a {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 30px 60px;
            font-size: 36px;
            color: #fff;
            background-color: #333;
            border-radius: 10px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

            .button-container a:hover {
                background-color: #007bff;
                transform: scale(1.1);
            }
</style>

<div class="text-center">
    <h1 class="display-4">DOBRODOŠLI</h1>
    <div class="button-container">
        <a href="/theaters">Theaters</a>
        <a href="/movies">Movies</a>
        <a href="/showtimes">Showtimes</a>
    </div>
</div>
